* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.87);
}

.nav-bar1 {
  display: flex;
  justify-content: space-between;
  padding: 0.29rem 0.7rem 0 0.5rem;
  font-size: 0.85rem;
  min-width: 740px;
  margin-top: 0.7rem;
}

.box {
  display: flex;
  gap: 0.8rem;
}

.top-boxs {
  display: flex;
  align-items: center;
}

.apps {
  width: 2rem;
  height: 2rem;
  background-image: url(./images/appicon.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0.5rem;
}

.box a {
  text-decoration: none;
  color: #252424;
}

.button {
  border: 1px solid #4285f4;
  padding: 0.2rem 0.7rem;
  border-radius: 2px;
  background-color: #4285f4;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 44rem;
  gap: 1.5rem;
  min-width: 755px;
}

.google-img {
  margin-top: 2.2rem;
}

.search-bar {
  width: 39rem;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  word-wrap: break-word;
  border-radius: 24px;
  color: #202124;
  display: flex;
  height: 3.05rem;
}

.search-bar:hover {
  background-color: #fff;
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

#lens {
  width: 2.2rem;
  height: 2.4rem;
  margin-left: 0.3rem;
  padding-left: 0.4rem;
  padding-top: 0.6rem;
}

#mic {
  width: 1rem;
  height: 1.4rem;
  margin: 0.8rem 6rem;
}

#search-input {
  width: 28rem;
  height: 100%;
  border: none;
  font-size: 1rem;
}

#search-input:focus {
  outline: none;
}
.buttons {
  display: flex;
  gap: 0.81rem;
  margin-top: 0.5rem;
}

.btn-google button {
  color: #3c4043;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  font-size: 0.94rem;
  padding: 0.6rem 1.05rem;
  border-radius: 4px;
  text-shadow: none;
  cursor: pointer;
  letter-spacing: normal;
  word-spacing: normal;
}

.btn-google button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.btn-google button:focus {
  border: 1px solid #4285f4;
  outline: none;
}

.language {
  font-size: 0.85rem;
  color: #4d5156;
}

.language a:link,
.language a:visited {
  color: #1a0dab;
  text-decoration: none;
}

.language a:hover,
.language a:active {
  text-decoration: underline;
}

footer {
  background-color: #f2f2f2;
  position: fixed;
  width: 100%;
  bottom: 0;
  min-width: 750px;
}

.box-nav {
  display: flex;
  gap: 2rem;
}

.box-nav a {
  text-decoration: none;
  color: #252424;
}

.box-nav a:hover {
  text-decoration: underline;
  color: #252424;
}

.nav-bar2 {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid #dadce0;
  font-size: 0.96rem;
}

.nav-bar2 a {
  color: #70757a;
}

.location {
  color: #70757a;
  padding: 1rem 2rem;
  border-bottom: 1px solid #dadce0;
  font-size: 0.96rem;
}
